certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
configparser==7.0.0
darkdetect==0.8.0
eval-type-backport==0.2.0
idna==3.10
loguru==0.7.2
playsound==1.2.2
pydantic==2.9.2
pyqt6
pyqt6-fluent-widgets
pywin32==306; platform_system == "Windows"
requests==2.32.3
urllib3==2.2.3
win32-setctime==1.1.0; platform_system == "Windows"